/* Default Dark Theme */
/*body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}*/

/* Light Theme */
/*body {
    background-color: #ffffff;
    color: #000000;
}*/

/* Button Styling */
/*#themeToggle {
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}*/
